@helper ListToRadioButtonGroup(string name, System.Web.Mvc.SelectList options, int selectedValue)
{
    foreach (System.Web.Mvc.SelectListItem option in options.Items)
    {
        string id = name + "_" + option.Value;

        if (option.Value == selectedValue.ToString())
        {
            <input type="radio" name="@name" class="@name" id="@id" value="@option.Value.ToString()" checked />
        }
        else
        {
            <input type="radio" name="@name" class="@name" id="@id" value="@option.Value.ToString()" />
        }
        <label for="@id" class="control-label">@option.Text</label>
    }
    <br />
}

@helper GlyphiconAction(string Action, string glyphiconClass, string TooltipMessage, string ToolTipPlacement = "bottom")
{
    var Url = new System.Web.Mvc.UrlHelper(HttpContext.Current.Request.RequestContext);
    <a href="@Url.Action(Action)" style="text-decoration:none">
        <span class="glyphicon glyphiconStyle @glyphiconClass"
              title="@TooltipMessage"
              data-placement="@ToolTipPlacement">
        </span>
    </a>
}

@helper GlyphiconConfirmAction(string Action, string glyphiconClass, string TooltipMessage, string ToolTipPlacement = "bottom")
{
    //// http://bootboxjs.com/documentation.html#bb-confirm
    var Url = new System.Web.Mvc.UrlHelper(HttpContext.Current.Request.RequestContext);
    <div onclick='bootbox.confirm("@TooltipMessage", function(result){ if (result) window.location = "@Url.Action(Action)"; })'>
        <span class="glyphicon glyphiconStyle @glyphiconClass"
              title="@TooltipMessage"
              data-placement="@ToolTipPlacement">
        </span>
    </div>
}


@helper BoolToValue(bool b, string falseText = "non", string trueText = "oui")
{
    if (b)
    {
        @trueText
    }
    else
    {
        @falseText
    }
}

@helper DateTimeControl(DateTime dateTime, string Id)
{
    string date = dateTime.ToShortDateString() + "T" + dateTime.ToShortTimeString();
    <input type="datetime-local" name="@Id" id="@Id" value="@date" class="form-control" />
}


@helper When(DateTime date)
{
    TimeSpan span = DateTime.Now.Subtract(date);
    if (span.Days > 0)
    {
        <div style="float:left">Le @date.ToLongDateString()&nbsp;</div>
        <div class="glyphicon glyphicon-time smallGlyphicon" title="@date.ToShortTimeString()" data-placement="right"></div>
    }
    else
    {
        if (span.Hours > 1)
        {
            <span>Il y a @span.Hours heures</span>
        }
        else
        {
            if (span.Minutes > 1)
            {
                <span>Il y a @span.Minutes minutes</span>
            }
            else
            {
                <span>à l'instant</span>
            }
        }
    }
}
@helper GuitarImage(string id, string imgClass, string url, bool sold, bool rotate = false)
{
    var ContextUrl = new System.Web.Mvc.UrlHelper(HttpContext.Current.Request.RequestContext);
    var imageUrl = ContextUrl.Content("~/Content/Images/defaultGuitarLogo.jpg");
    var soldUrl = ContextUrl.Content("~/Content/Images/sold.png");
    var rotateCSS = (rotate ? "transform: rotate(270deg)" : "");
    var soldCSS = (rotate ? "transform: rotate(-270deg)" : "");
    if (!string.IsNullOrEmpty(url))
    {
        imageUrl = url;
    }
    <div id="@id" class='@imgClass' style='background:url(@imageUrl) no-repeat center;  background-size: contain; @rotateCSS'>
            @if (sold)
            {
                <img src="@soldUrl" class="soldStamp" style="@soldCSS"/>
            }
    </div>
}

